:root {
    --font-sans-serif: Helvetica, sans-sereif;
    --black: #000;
    --white: #fff;
    --grey: #878a89;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--grey);
    background: var(--black);
    line-height: 1.5;
}

h3 {
    font-weight: bold;
    color: var(--white);
    border: var(--white);
}

img {
    max-width: 100%;
    display: block;
}

.component img {
    max-width: initial;
}

a {
    text-decoration: none;
}

.component__headings {
    color: var(--white);
}

.component__headings h1 {
    font-size: medium;
}

li {
    font-size: 20px;
    list-style-type: none;
    border-bottom: 1px solid var(--grey);
    width: 900px;
}

.button_header {
    font-size: 20px;
}

.button__hover {
    color: var(--black);
    background: var(--white);
    border-radius: 50px;
    padding: 2px 20px;
    border: none;
    width: 200px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin: 0;
}

.home {
    font-family: Helvetica, sans-serif;
}

.home-wordmark {
    color: var(--white);
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
}

.home-nav {
    margin-left: 500px;
}

.home-click {
    display: flex;
    gap: 785px;
    margin-left: 540px;
}

.home-click__search {
    font-size: 20px;
}

.home-click__about {
    font-size: 20px;
}