:root {
    --font-sans-serif: Helvetica, sans-sereif;
    --black: #000;
    --white: #fff;
    --grey: #878a89;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--grey);
    background: var(--black);
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

.component img {
    max-width: initial;
}

a {
    text-decoration: none;
}

.component__headings {
    color: var(--white);
}

.component__headings h1 {
    font-size: medium;
}

li {
    list-style-type: none;
    border-bottom: 1px solid var(--grey);
    width: 600px;
}