:root {
    --font-sans-serif: Helvetica, sans-sereif;
    --black: #000;
    --white: #fff;
    --grey: #878a89;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--grey);
    background: var(--black);
    line-height: 1.5;
}

h3 {
    font-weight: bold;
    color: var(--white);
    border: var(--white);
}

img {
    max-width: 100%;
    display: block;
}

.component img {
    max-width: initial;
}

a {
    text-decoration: none;
}

.component__headings {
    color: var(--white);
}

.component__headings h1 {
    font-size: medium;
}

li {
    font-size: 20px;
    list-style-type: none;
    border-bottom: 1px solid var(--grey);
    width: 1000px;
}

.button_header {
    font-size: 20px;
}

.button__hover {
    color: var(--black);
    background: var(--white);
    border-radius: 50px;
    padding: 2px 20px;
    border: none;
    width: 200px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin: 0;
}


/* Start of my home page */
html {
    font-family: Helvetica, sans-serif;
}

p, h1, h2{
    font-family: Helvetica, sans-serif;
}

.home {
    font-family: Helvetica, sans-serif;
}

.home-wordmark {
    color: var(--white);
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
}

.home-nav {
    margin-left: 400px;
}

.home-click {
    display: flex;
    gap: 885px;
    margin-left: 440px;
}

.home-click__search {
    font-size: 20px;
}

.home-click__about {
    font-size: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
    margin: 20px;
}

.card {
    font-size: 20px;
}

.card__title {
    margin-top: 10px;
    margin-bottom: 0;
}

.card__desc {
    margin: 0;
}
/* End of my home page */

/* Start of my about page */
.about {
    color: var(--white);
    font-size: 18px;
    display: grid;
    grid-template-columns: 515px 1fr;
    grid-gap: 50px;
    line-height: 1.2;
    margin-left: 440px;
    margin-bottom: 100px;
    margin-top: 20px;
}

.about h2 {
    font-size: 18px;
}

.about p {
    margin: 0;
}

.about a {
    text-decoration: underline;
}

.about__desc {
    display: block;
    text-align: left;
}

.about__desc2 {
    display: block;
    text-align: left;
}
/* End of my about page */

/* Start of card page */
.card__headings {
    color: var(--white);
    font-size: 20px;
    display: flex;
    margin-left: 30px;
    gap: 285px;
}

.card__headings p {
    margin: 0;
}

.card__desc {
    display: flex;
}

.card__desc img {
    margin: 30px;
    width: 800px;
}

.card__flexright {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

.card__desc-text {
    color: var(--white);
    font-size: 20px;
    line-height: 1.2;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
}
/* End of card page */