<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components | Visuelle</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <h1>Web Components</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
        <h3 class="component__name">body</h3>
        <div class="component__img">
        <img 
            srcset="img/page-body__item-text.png 2x"
            src="img/page-body__item-text.png" alt="body copy"/>
        </div>
        <div class="component__code">
            Code Goes Here
            <p>
                <a href="#!">Foundry Æterna</a> <br>
                <a href="#!">OPX Studio</a>
            </p>
        </div>
    </article>

    <article class="component__headings">
        <h3 class="component__name">headings (h1, h2, ...)</h3>
        <div class="component__img">
        <img 
            srcset="img/page-header__wordmark.png 2x"
            src="img/page-header__wordmark.png" alt="workmark copy"/>
        </div>
        <div class="component__code">
            Code Goes Here
            <h1>
                visuelle.
            </h1>
        </div>
    </article>

    <article class="component__nav">
        <h3 class="component__name">nav bar</h3>
        <div class="component__img">
        <img 
            srcset="img/page-header__nav.png"
            src="img/page-header__nav.png" alt="nav bar copy"/>
        </div>
        <div class="component__code">
            Code Goes Here
            <ul>
                <li>All</li>
                <li>Digital</li>
                <li>Graphic Design</li>
                <li>Illustration</li>
                <li>Motion</li>
                <li>Photography</li>
                <li>Podcast</li>
                <li>Typography</li>
            </ul>
        </div>
    </article>
    
    <article class="component__header-buttons">
        <h3 class="component__name">header buttons</h3>
        <div class="component__img">
        <img
            srcset="img/page-header__nav-search.png"
            src="img/page-header__nav-search.png" alt="search button copy"/>
        <img 
            srcset="img/page-header__nav-about.png"
            src="img/page-header__nav-about.png" alt="about button copy"/>
        </div>
        <div class="component__code">
            Code Goes Here
            <div class="button_header">
            <p>Search</p>
            <p>About</p>
            </div>
        </div>
    </article>
</body>
</html>